

 .form_password_reset{
   width:40%;
    margin:auto;
    margin-top:200px;
      }



@media only screen and (max-width:750px){

 .form_password_reset{
   width:70%;
    margin:auto;
    margin-top:200px;
      }

 }