.form{
width:800px;
margin:auto;
overflow:hidden;
}

.h2{
margin-top:100px;
text-align:center;
}

.add_recipes{
width:800px;
margin:auto;
overflow:hidden;
}

.delete_wraper{
margin-top:150px;
}

.cancel_btn{
margin-top:10px;
}
@media only screen and (max-width:750px){
.h2{
margin-top:200px;
}
.add_recipes{
width:90%;
margin:auto;
}


}